
<div class="container">
<p>Ask your coach anything</p>
<form action="/answer" data-turbo="false" method="get" class="w-25">
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter your question" name="user_question">
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit" value="Ask!">Ask!</button>
</div>
</form>

</div>
